<h1>Pokémon List</h1>

<ul>
    @foreach (var pokemon in Model)
    {
        <li><a asp-controller="Pokemon" asp-action="Details" asp-route-name="@pokemon.Name">@pokemon.Name</a></li>
    }
</ul>

@{
    int page = ViewData["Page"] != null ? (int)ViewData["Page"] : 1;
    int pageSize = ViewData["PageSize"] != null ? (int)ViewData["PageSize"] : 20;
    int totalCount = ViewData["TotalCount"] != null ? (int)ViewData["TotalCount"] : 0;
    int totalPages = (int)Math.Ceiling((double)totalCount / pageSize);
}

<div>
    Page @(page) of @totalPages
</div>
<div>
    @if (page > 1)
    {
        <a asp-action="Index" asp-route-page="1" asp-route-pageSize="@pageSize">First</a>
        <a asp-action="Index" asp-route-page="@(page - 1)" asp-route-pageSize="@pageSize">Previous</a>
    }
    @if (page == 1)
    {
        <a>First</a>
        <a>Previous</a>
    }
    @if (page < totalPages)
    {
        <a asp-action="Index" asp-route-page="@(page + 1)" asp-route-pageSize="@pageSize">Next</a>
        <a asp-action="Index" asp-route-page="@totalPages" asp-route-pageSize="@pageSize">Last</a>
    }
    @if (page == totalPages)
    {
        <a>Next</a>
        <a>Last</a>
    }
</div>